{{ header }}
<style>
    .add-block-field, .select-grid-field {
        border: 2px dashed #dadada;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .add-block-field-button, .select-grid-field-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;
    }
    .add-block-field-button {
        cursor: pointer;
    }
    .add-block-field-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CF0D64;
        width: fit-content;
        border-radius: 50%;
        color: #fff;
        margin-bottom: 15px;
        padding: 13px 14px;
    }
    .select-grid-field-inner {
        width: 100%;
    }
    .select-grid-field-inner-header {
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .select-grid-field-inner-content {
        width: 100%;
    }
    .close-select-gid-field {
        border: none;
        background: none;
        position: absolute;
        font-size: 35px;
        top: 10%;
        right: 5%;
        outline: none;
    }
    .gray-bg {
        background-color: gray;
        height: 50px;
        margin: 1px;
    }
    .select-grid-field-inner-content-item {
        width: 100px;
        display: flex;
        flex-direction: row;
        margin: 10px;
        cursor: pointer;
    }
    .select-grid-field-inner-content-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .d-none {
        display: none;
    }
    .flex-dir-col {
        flex-direction: column;
    }
    .w-100 {
        width: 100%;
    }
    .w-66 {
        width: 66.7%;
    }
    .w-50 {
        width: 50%;
        float: left;
    }
    .w-33 {
        width: 33.3%;
        float: left;
    }
    .w-25 {
        width: 25%;
        float: left;
    }
    .w-20 {
        width: 20%;
        float: left;
    }
    .w-16 {
        width: 16.6%;
        float: left;
    }
    .w-12 {
        width: 12%;
        float: left;
    }
    .block-data-row {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*align-items: center;*/
        /*padding: 10px;*/
        position: relative;
    }
    .block-data-row-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .block-data-buttons {
        position: absolute;
        right: 0;
        top: -40px;
    }
    .block-data-inner {
        text-align: center;
        border: 2px dashed #dadada;
        padding: 8px;
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .block-data-inner span {
        /*margin: 5px 30px;*/
        margin-right: 4px;
    }
    .add-data-modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: none;
    }
    .mt-10 {
        margin-top: 10px;
    }
    .block-data-table {
        position: relative;
    }
    .block-data-table img {
        max-width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: black;
    }
    .block-data-table:hover .overlay {
        opacity: 0.5;
    }
    .overlay-buttons {
        opacity: 0;
        color: white;
        /*font-size: 100px;*/
        position: absolute;
        width: 100%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        transition: .3s ease;
    }
    .block-data-table:hover .overlay-buttons {
        opacity: 1;
    }
    .added-product-image img {
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 100px;
    }

    .td-products-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bd-example-modal-lg .img-thumbnail {
        max-width: 150px;
    }

    .bd-example-modal-lg .img-thumbnail img {
        max-width: 140px;
    }

    .grid-view-type-heading {
        text-align: center;
        font-weight: bold;
    }

    .grid-view-type {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 768px) {
        .w-xs {
            width: 100%;
        }
    }
</style>
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-mailing" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{heading_title}}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_edit}}</h3>
            </div>
            <div class="panel-body">
                <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-mailing" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active" id="li-tab-settings"><a href="#tab-templates" data-toggle="tab">{{tab_template}}</a></li>
                        <li id="li-tab-settings"><a href="#tab-2" data-toggle="tab">{{tab_users}}</a></li>
                        <li id="li-tab-settings"><a href="#tab-3" data-toggle="tab">{{tab_mailing}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-templates"> {# 1 TAB TEMPLATE #}
                        <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_template_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="template_name" value="{{ mailing.name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %} 
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_letter_theme }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="letter_theme" value="{{ mailing_description.letter_theme }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% if error_letter_theme %}
                                        <div class="text-danger">{{ error_letter_theme }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_letter_content }}</label>
                                <div class="col-sm-12">
                                    {% if mailing.mailing_id %}
                                        <div class="block-data-rows">
                                            {% for block in blocks %}
                                                <div class="block-data-row" id="block-data-row-{{ block.id }}" style="{% if block.bg_color %}background-color: {{ block.bg_color }};{% endif %}{% if block.bg_image %}background: no-repeat url('{{ block.background_image }}') {{ block.bg_color }}; background-size: cover;{% endif %}{% if block.padding %}padding: {{ block.padding }};{% endif %}border: 1px solid #dadada;" data-block-id="{{ block.id }}">
                                                    <div class="block-data-row-inner" style="{% if block.width %}margin: 0 auto; max-width: 100%; width: {{ block.width }}{% if block.width_type == "0" %}px{% else %}%{% endif %};{% else %}width: 100%;{% endif %}">
                                                    {% if block.grid_id == "1" %}
                                                        {% set colCounts = 1 %}
                                                    {% elseif block.grid_id == "2" or block.grid_id == "5" or block.grid_id == "6" %}
                                                        {% set colCounts = 2 %}
                                                    {% elseif block.grid_id == "3" or block.grid_id == "7" or block.grid_id == "8" or block.grid_id == "9" or block.grid_id == "12" %}
                                                        {% set colCounts = 3 %}
                                                    {% elseif block.grid_id == "4" %}
                                                        {% set colCounts = 4 %}
                                                    {% elseif block.grid_id == "10" %}
                                                        {% set colCounts = 5 %}
                                                    {% elseif block.grid_id == "11" %}
                                                        {% set colCounts = 6 %}
                                                    {% endif %}

                                                    {% set ignoredCols = [] %}

                                                    {% for colId in 1..colCounts %}
                                                        {% for block_data in block.blocks_data if block_data.col_id == colId %}

                                                            <table class="{{ block_data.block_grid_width }} block-data-table w-xs" data-col-id="{{ block_data.col_id }}" style="{% if block_data.bg_color %}background: {{ block_data.bg_color }};{% endif %}{% if block_data.bg_image %}background: no-repeat url('{{ block_data.thumb }}') {{ block_data.bg_color }}; background-size: cover;{% endif %}{% if block_data.width %}max-width: {{ block_data.width }}{% if block_data.width_type == "0" %}px{% else %}%{% endif %}; margin: 0 auto;{% endif %}">
                                                                <tr>
                                                                    <td style="{% if block_data.padding %}padding: {{ block_data.padding }};{% endif %}">
                                                                        <table class="w-100">
                                                                            {% if block_data.text_ordinal <= block_data.products_ordinal %}
                                                                                {% if block_data.text %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{ block_data.text }}
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                                {% if block_data.products %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table width="auto" style="margin: 0 auto;">
                                                                                                <tr>
                                                                                                    <td class="td-products-container">
                                                                                                        {% for product in block_data.products %}

                                                                                                            <table data-product-id="{{ product.product_id }}" class="product-layout product-list col-sm-3 col-xs-12" style="margin-left: 15px; margin-top: 15px; padding: 10px; width: fit-content;">
                                                                                                                <tr>
                                                                                                                    <td class="added-product-image">
                                                                                                                        {% if product.image %}
                                                                                                                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                                                                                                        {% else %}
                                                                                                                            <img src="/image/cache/no_image-100x100.png" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                                                                                                        {% endif %}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td class="caption">
                                                                                                                        <p>{{ product.name }}</p>
                                                                                                                        <p class="price">{{ product.price}}</p>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>

                                                                                                        {% endfor %}
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if block_data.products %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table width="auto" style="margin: 0 auto;">
                                                                                                <tr>
                                                                                                    <td class="td-products-container">
                                                                                                        {% for product in block_data.products %}

                                                                                                            <table data-product-id="{{ product.product_id }}" class="product-layout product-list col-sm-3 col-xs-12" style="margin-left: 15px; margin-top: 15px; padding: 10px; width: fit-content;">
                                                                                                                <tr>
                                                                                                                    <td class="added-product-image">
                                                                                                                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td class="caption">
                                                                                                                        <p>{{ product.name }}</p>
                                                                                                                        <p class="price">{{ product.price}}</p>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>

                                                                                                        {% endfor %}
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                                {% if block_data.text %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div>
                                                                                                {{ block_data.text }}
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="overlay"></div>
                                                                                    <div class="overlay-buttons">
                                                                                        <button type="button" data-toggle="modal" data-target="#addBlockDataModal" data-tooltip="tooltip" title="{{ button_edit }}" data-block-data-id="{{ block_data.id }}" class="btn btn-primary edit-block-data-btn"><i class="fa fa-pencil"></i></button>
                                                                                        <button type="button" data-tooltip="tooltip" title="{{ button_delete }}" data-block-data-id="{{ block_data.id }}" class="btn btn-danger delete-block-data-btn"><i class="fa fa-trash"></i></button>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        {% else %}
                                                            <div class="block-data-inner">
                                                                <button type="button" data-toggle="modal" data-target="#addBlockDataModal" data-tooltip="tooltip" title="{{ button_add }}" data-col-id="{{ colId }}" class="btn btn-success pull-right add-block-data-btn"><i class="fa fa-plus"></i></button>
                                                            </div>

                                                        {% endfor %}

                                                    {% endfor %}
                                                    </div>
                                                    <div class="block-data-buttons">
                                                        <button type="button" data-toggle="modal" data-target="#settingsBlockModal" data-tooltip="tooltip" title="{{ button_edit }}" data-block-id="{{ block.id }}" class="btn btn-primary edit-block-settings-btn"><i class="fa fa-pencil"></i></button>
                                                        <button type="button" data-tooltip="tooltip" title="{{ button_delete }}" data-block-id="{{ block.id }}" class="btn btn-danger delete-block-btn"><i class="fa fa-trash"></i></button>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="add-block-field mt-10">
                                            <div class="add-block-field-button">
                                                <div class="add-block-field-button-icon">
                                                    <i class="fa fa-plus"></i>
                                                </div>
                                                <div class="add-block-field-button-text">{{ button_add_block }}</div>
                                            </div>
                                        </div>
                                        <div class="select-grid-field d-none">
                                            <div class="select-grid-field-inner">
                                                <div class="select-grid-field-inner-header">
                                                    {{ text_select_structure }}
                                                </div>
                                                <div class="select-grid-field-inner-content">
                                                    <div class="select-grid-field-inner-content-row">
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="1">
                                                            <div class="gray-bg w-100"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="2">
                                                            <div class="gray-bg w-50"></div>
                                                            <div class="gray-bg w-50"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="3">
                                                            <div class="gray-bg w-33"></div>
                                                            <div class="gray-bg w-33"></div>
                                                            <div class="gray-bg w-33"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="4">
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-25"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="5">
                                                            <div class="gray-bg w-33"></div>
                                                            <div class="gray-bg w-66"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="6">
                                                            <div class="gray-bg w-66"></div>
                                                            <div class="gray-bg w-33"></div>
                                                        </div>
                                                    </div>
                                                    <div class="select-grid-field-inner-content-row">
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="7">
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-50"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="8">
                                                            <div class="gray-bg w-50"></div>
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-25"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="9">
                                                            <div class="gray-bg w-25"></div>
                                                            <div class="gray-bg w-50"></div>
                                                            <div class="gray-bg w-25"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="10">
                                                            <div class="gray-bg w-20"></div>
                                                            <div class="gray-bg w-20"></div>
                                                            <div class="gray-bg w-20"></div>
                                                            <div class="gray-bg w-20"></div>
                                                            <div class="gray-bg w-20"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="11">
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-16"></div>
                                                        </div>
                                                        <div class="select-grid-field-inner-content-item" data-grid-id="12">
                                                            <div class="gray-bg w-16"></div>
                                                            <div class="gray-bg w-66"></div>
                                                            <div class="gray-bg w-16"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="close-select-gid-field">&times;</button>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="text-center">
                                            <span>{{ text_create_mailing }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2"> {# 2 TAB USERS #}
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <input type="text" name="filter_email" value="" placeholder="Email" id="input-name" class="form-control"/>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="filter_name" value="" placeholder="Name" id="input-name" class="form-control"/>
                                </div>
                                <div class="col-sm-2">
                                    <span onclick="{% if mailing.mailing_id %} resetFilter() {% else %} resetFilterAdd() {% endif %}" data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_reset }}" class="btn btn-danger"><i class="fa fa-refresh"></i>&nbsp;Очистить</span>
                                    {% if mailing.mailing_id %}
                                    <span class="pull-right">
                                        <span data-toggle="tooltip" title="{{ button_add_all_to_mailing }}" class="btn btn-success subscribe-all-customers"><i class="fa fa-plus"></i></span>
                                        <span data-toggle="tooltip" title="{{ button_delete_all_from_mailing }}" class="btn btn-danger unsubscribe-all-customers"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            <table class="table table-bordered table-hover mailing-users">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" {% if mailing.mailing_id %} disabled="disabled" {% endif %} onclick="selectAllCheckbox()" /></td>
                                    <td class="text-left">{% if sort == 'name' %} <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a> {% else %} <a href="{{ sort_email }}">{{ column_email }}</a> {% endif %}</td>
                                    <td class="text-left">{% if sort == 'c.email' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                                </tr>
                                </thead>
                                <tbody>

                                {% if customers %}
                                    {% for customer in customers %}
                                        <tr>
                                            <td class="text-center">
                                                {% if customer.customer_id in mailing_customers %}
                                                    <input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />
                                                {% else %}
                                                    <input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />
                                                {% endif %}
                                            </td>
                                            <td class="text-left">{{ customer.email }}</td>
                                            <td class="text-left">
                                                {{ customer.name }}
                                                <span class="pull-right d-flex">
                                                    <a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    {% if mailing.mailing_id %}
                                                        {% if customer.customer_id in mailing_customers %}
                                                            <span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>
                                                        {% else %}
                                                            <span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-3"> {# 3 TAB MAILING #}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_count_letters }}</label>
                                <div class="col-sm-10">
                                    {% if mailing.counter_letters %}
                                        <input type="number" name="count_letters" value="{{ mailing.counter_letters }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% else %}
                                        <input type="number" name="count_letters" value="10" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_date_automailing }}</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" name="date_automailing" value="{{ mailing.date_start }}" placeholder="{{ entry_name }}" id="datePicker" class="form-control"/>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" onclick="dateAutoMailingClear()" class="btn btn-primary">{{ text_clear }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="addBlockDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-text-data" data-toggle="tab">{{ tab_text_data }}</a></li>
                    <li><a href="#tab-products" data-toggle="tab">{{ tab_products }}</a></li>
                    <li class="pull-right"><a href="#tab-block-settings" data-toggle="tab">{{ tab_block_settings }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-text-data">
                        <div class="col-sm-12">
                            <textarea name="block_data[text]" placeholder="{{ entry_description }}" id="input-block-data-text" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control"></textarea>
                            <label class="pull-left control-label" for="input-block-data-text-ordinal">{{ entry_position_data_in_block }}</label>
                            <input type="text" name="block_data[text_ordinal]" value="" placeholder="{{ entry_position_data_in_block }}" id="input-block-data-text-ordinal" class="form-control"/>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-products">
                        <div class="col-sm-12">

                            <label class="col-sm-2 control-label" for="input-product-categories">{{ entry_products }}</label>
                            <div class="col-sm-10">
                                <select name="categories" id="input-product-categories" class="form-control">

                                    {% for category in categories %}

                                        <option value="{{ category.category_id }}">{{ category.name }}</option>

                                    {% endfor %}

                                </select>

                                <div class="row products-list">

                                </div>

                            </div>
                            <label class="col-sm-2 control-label" for="input-name">{{ entry_added_products }}</label>
                            <div class="col-sm-10">
                                <div class="row added-products-list">

                                </div>
                            </div>

                        </div>
                        <label class="control-label mt-10" for="input-block-data-products-ordinal">{{ entry_position_data_in_block }}</label>
                        <input type="text" name="block_data[products_ordinal]" value="" placeholder="{{ entry_position_data_in_block }}" id="input-block-data-products-ordinal" class="form-control"/>
                    </div>
                    <div class="tab-pane" id="tab-block-settings">
                        <div class="form-group">
                            <label class="col-sm-12 control-label" for="input-block-data-bg-color">{{ entry_bg_block }}</label>
                            <div class="col-sm-12">
                                <input type="text" name="block_data[bg_color]" value="" placeholder="#000" id="input-block-data-bg-color" class="form-control"/>
                            </div>

                            <div class="col-sm-12">
                                <a href="" id="thumb-image1" data-toggle="image" class="img-thumbnail mt-10">
                                    <img src="{{ img_placeholder }}" alt="" title="" data-placeholder="{{ img_placeholder }}"/>
                                </a>
                                <input type="hidden" name="block_data[bg_image]" value="" id="input-image1"/>
                            </div>

                            <label class="col-sm-12 control-label mt-10" for="input-block-data-width">{{ entry_width_block }}</label>
                            <div class="col-sm-6">
                                <input type="text" name="block_data[width]" value="" placeholder="" id="input-block-data-width" class="form-control"/>
                            </div>
                            <div class="col-sm-6">
                                <select name="block_data[width_type]" id="select-block-data-width-type" class="form-control">
                                    <option value="0" selected>{{ text_pixels }}</option>
                                    <option value="1">{{ text_percents }}</option>
                                </select>
                            </div>
                            <label class="col-sm-12 control-label mt-10" for="input-block-width">{{ entry_padding_block }}</label>
                            <div class="col-sm-6">
                                <input type="text" name="block_data[padding]" value="" placeholder="{{ entry_padding_block }}" id="input-block-padding" class="form-control"/>
                            </div>
                            <div class="col-sm-6">
                                {{ help_padding }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer add-data-modal-footer">
                <button type="button" class="btn btn-info w-20 mt-10 add-block-data-modal-btn">{{ button_save }}</button>
                <button type="button" class="btn btn-secondary w-20 mt-10" data-dismiss="modal">{{ button_cancel }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="settingsBlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ text_settings }}</h5>
            </div>
            <div class="modal-body">
                <div class="grid-view-type-heading">
                    {{ text_block_view }}
                </div>
                <div class="grid-view-type">
                    <div class="select-grid-field-inner-content-item" data-grid-id="1">
                        <div class="gray-bg w-100"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label" for="input-block-bg-color">{{ entry_bg_block }}</label>
                    <div class="col-sm-12">
                        <input type="text" name="block[bg_color]" value="" placeholder="#000 or black" id="input-block-bg-color" class="form-control"/>
                    </div>
                    <div class="col-sm-12">
                        <a href="" id="thumb-image2" data-toggle="image" class="img-thumbnail mt-10">
                            <img src="{{ img_placeholder }}" alt="" title="" data-placeholder="{{ img_placeholder }}"/>
                        </a>
                        <input type="hidden" name="block[bg_image]" value="" id="input-image2"/>
                    </div>

                    <label class="col-sm-12 control-label mt-10" for="input-block-width">{{ entry_width_block }}</label>
                    <div class="col-sm-6">
                        <input type="text" name="block[width]" value="" placeholder="" id="input-block-width" class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                        <select name="block[width_type]" id="select-block-width-type" class="form-control">
                            <option value="0" selected>{{ text_pixels }}</option>
                            <option value="1">{{ text_percents }}</option>
                        </select>
                    </div>
                    <label class="col-sm-12 control-label mt-10" for="input-block-width">{{ entry_padding_block }}</label>
                    <div class="col-sm-6">
                        <input type="text" name="block[padding]" value="" placeholder="{{ entry_padding_block }}" id="input-block-padding" class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                        {{ help_padding }}
                    </div>
                    <label class="col-sm-12 control-label mt-10" for="input-block-width">{{ entry_block_sort_ordinal }}</label>
                    <div class="col-sm-12">
                        <input type="text" name="block[sort_ordinal]" value="" placeholder="{{ entry_block_sort_ordinal }}" id="input-block-sort-ordinal" class="form-control"/>
                    </div>
                </div>


            </div>
            <div class="modal-footer add-data-modal-footer">
                <button type="button" class="btn btn-info w-20 mt-10 edit-block-settings-modal-btn">{{ button_save }}</button>
                <button type="button" class="btn btn-secondary w-20 mt-10" data-dismiss="modal">{{ button_cancel }}</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-header {
        text-align: center;
    }
    .d-flex {
        display: flex;
    }
    table .btn {
        margin: 2px;
    }
    @media (min-width: 768px) {
        #button-register, #img_loading_register {
            position: relative;
            left: 5px;
        }
    }
</style>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        let anchor = getCookie("block_row_anchor")
        console.log(anchor)
        if(anchor !== undefined && anchor !== 'undefined') {
            //узнаем высоту от начала страницы до блока на который ссылается якорь
            let top = $("#block-data-row-" + anchor).offset().top;

            //анимируем переход на расстояние - top за 1500 мс
            $('body,html').animate({scrollTop: top}, 1500);
            deleteCookie("block_row_anchor")
        }
    });

    $('.summernote').eq(1).summernote('code')
    $('button[data-tooltip="tooltip"]').tooltip()
    $('.select-grid-field-inner-content-item').on('click', function () {
        let grid_id = $(this).attr('data-grid-id');
        $.ajax({
            type: "POST",
            url: 'index.php?route=extension/module/mailing/addBlock&mailing_id={{ mailing.mailing_id }}' + '&grid_id=' + grid_id + '&user_token={{ user_token }}',
            success: function(block_id) {
                $('.block-data-rows').append(BlockDataRowHTML(block_id, grid_id))
                addBlockData()
                editBlockSettings()
                deleteBlock()
                $('.select-grid-field').hide()
                $('.add-block-field').show()
            }
        })
    })
    $('.add-block-field-button').on('click', function () {
        $('.select-grid-field').show()
        $('.add-block-field').hide()
    })
    $('.close-select-gid-field').on('click', function () {
        $('.select-grid-field').hide()
        $('.add-block-field').show()
    })

    // Save blocks row settings
    $('.edit-block-settings-modal-btn').on('click', function () {
        let block_id = $(this).attr('data-block-id')
        $.ajax({
            type: "POST",
            dataType: 'html',
            data: $( "#settingsBlockModal :input[name*='block']" ).serialize(),
            url: 'index.php?route=extension/module/mailing/editBlock&block_id=' + block_id + '&user_token={{ user_token }}',
            success: function (res) {
                $('#settingsBlockModal').modal('hide')
                let date = new Date()
                date.setMinutes(date.getMinutes() + 1)
                setCookie('block_row_anchor', block_id, { expires : date })
                document.location.href = window.location;
            }
        })
    })
    function dateAutoMailingClear() {
        $('#datePicker').val('')
    }
    function BlockDataRowHTML(block_id, grid_id) {
        let html = '';
        let cols;

        if(grid_id === "1") {
            cols = 1;
        } else if(grid_id === "2" || grid_id === "5" || grid_id === "6") {
            cols = 2;
        } else if(grid_id === "3" || grid_id === "7" || grid_id === "8" || grid_id === "9" || grid_id === "12") {
            cols = 3;
        } else if(grid_id === "4") {
            cols = 4;
        } else if(grid_id === "10") {
            cols = 5;
        } else if(grid_id === "11") {
            cols = 6;
        }

        html += '<div class="block-data-row" data-block-id="' + block_id + '">'
        html += '<div class="block-data-row-inner">'

        for (let i = 0; i < cols; i++) {
            html += '<div class="block-data-inner">\n' +
                        '<button type="button" data-toggle="modal" data-target="#addBlockDataModal" data-tooltip="tooltip" title="{{ button_add }}" class="btn btn-success pull-right add-block-data-btn" data-col-id="' + (i + 1) + '"><i class="fa fa-plus"></i></button>\n' +
                    '</div>'
        }
        html += '</div>'
        html += '<div class="block-data-buttons">\n' +
                    '<button type="button" data-toggle="modal" data-target="#settingsBlockModal" data-tooltip="tooltip" title="{{ button_edit }}" data-block-id="' + block_id + '" class="btn btn-primary edit-block-settings-btn"><i class="fa fa-pencil"></i></button>\n' +
                    '<button type="button" data-tooltip="tooltip" title="{{ button_delete }}" data-block-id="' + block_id + '" class="btn btn-danger delete-block-btn"><i class="fa fa-trash"></i></button>\n' +
                '</div>'

        html += '</div>'

        return html;
    }
    editBlockSettings()
    function editBlockSettings() {
        $('.edit-block-settings-btn').unbind('click');
        $('.edit-block-settings-btn').on('click', function () {
            let block_id = $(this).attr('data-block-id')
            $('.edit-block-settings-modal-btn').attr('data-block-id', block_id)
            $.ajax({
                type: "GET",
                url: 'index.php?route=extension/module/mailing/getBlock&block_id=' + block_id + '&user_token={{ user_token }}',
                success: function(response) {
                    // get html view grid by grid_id
                    $('.grid-view-type').html(getGridViewHTML(response.grid_id))
                    let keys = Object.keys(response)
                    for (let i = 0; i < keys.length; i++) {
                        $( ":input[name='block[" + keys[i] + "]']" ).val(response[keys[i]])
                        if(response['bg_image']) {
                            $("#thumb-image2 img").attr('src', response['background_image'])
                        }
                    }
                }
            })
        })
    }

    function getGridViewHTML(grid_id) {
        let html = '';

        switch (grid_id) {
            case "1":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-100"></div>\n' +
                        '</div>'
                break;
            case "2":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-50"></div>\n' +
                            '<div class="gray-bg w-50"></div>\n' +
                        '</div>'
                break;
            case "3":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-33"></div>\n' +
                            '<div class="gray-bg w-33"></div>\n' +
                            '<div class="gray-bg w-33"></div>\n' +
                        '</div>'
                break;
            case "4":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                        '</div>'
                break;
            case "5":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-33"></div>\n' +
                            '<div class="gray-bg w-66"></div>\n' +
                        '</div>'
                break;
            case "6":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-66"></div>\n' +
                            '<div class="gray-bg w-33"></div>\n' +
                        '</div>'
                break;
            case "7":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-50"></div>\n' +
                        '</div>'
                break;
            case "8":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-50"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                        '</div>'
                break;
            case "9":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                            '<div class="gray-bg w-50"></div>\n' +
                            '<div class="gray-bg w-25"></div>\n' +
                        '</div>'
                break;
            case "10":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-20"></div>\n' +
                            '<div class="gray-bg w-20"></div>\n' +
                            '<div class="gray-bg w-20"></div>\n' +
                            '<div class="gray-bg w-20"></div>\n' +
                            '<div class="gray-bg w-20"></div>\n' +
                        '</div>'
                break;
            case "11":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                        '</div>'
                break;
            case "12":
                html += '<div class="select-grid-field-inner-content-item">\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                            '<div class="gray-bg w-66"></div>\n' +
                            '<div class="gray-bg w-16"></div>\n' +
                        '</div>'
                break;
            default:
                break;
        }

        return html;
    }

    deleteBlock()
    function deleteBlock() {
        $('.delete-block-btn').unbind('click');
        $('.delete-block-btn').on('click', function () {
            let block_id = $(this).attr('data-block-id')
            let blockRow = $(this).parents('.block-data-row')
            if (confirm("{{ confirm_delete_block }}")) {
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/deleteBlock&block_id=' + block_id + '&user_token={{ user_token }}',
                    success: function() {
                        blockRow.remove()
                    }
                })
            }
        })
    }

    addBlockData()
    function addBlockData() {
        $('.add-block-data-btn').unbind('click');
        $('.add-block-data-btn').on('click', function () {
            let block_id = $(this).parents('.block-data-row').attr('data-block-id')
            let col_id   = $(this).attr('data-col-id')
            $( ":input[name*='block_data']" ).each(function (i, item) {
                $(item).val('')
            })
            $('#input-block-data-text').summernote("code", '');
            $("#thumb-image1 img").attr('src', $("#thumb-image1 img").attr('placeholder'))
            $('.added-products-list').html('')
            $('.add-block-data-modal-btn').removeAttr('data-block-data-id')
            $('.add-block-data-modal-btn').attr('data-block-id', block_id)
            $('.add-block-data-modal-btn').attr('data-col-id', col_id)
        })
    }

    editBlockData()
    function editBlockData() {
        $('.edit-block-data-btn').unbind('click');
        $('.edit-block-data-btn').on('click', function () {
            let block_data_id = $(this).attr('data-block-data-id')
            $('.add-block-data-modal-btn').attr('data-block-data-id', block_data_id)
            $.ajax({
                type: "GET",
                url: 'index.php?route=extension/module/mailing/getBlockData&block_data_id=' + block_data_id + '&user_token={{ user_token }}',
                success: function(response) {
                    console.log(response)
                    $('.add-block-data-modal-btn').attr('data-block-id', response.block_id)
                    let keys = Object.keys(response)
                    for (let i = 0; i < keys.length; i++) {
                        if(response[keys[i]] !== '0') {
                            $(":input[name='block_data[" + keys[i] + "]']").val(response[keys[i]])
                        }
                        $('#input-block-data-text').summernote("code", response['text']);
                        if(response['bg_image']) {
                            $("#thumb-image1 img").attr('src', response['background_image'])
                        }
                    }
                    $('.added-products-list').html(addedProductsToBlockDataHTML(response['products']))
                }
            })
        })
    }

    function addedProductsToBlockDataHTML(products) {
        let html = '';

        for (let i = 0; i < products.length; i++) {
            html += '<div data-product-id="' + products[i]['product_id'] + '" class="product-layout product-list col-sm-3 col-xs-12" style="border: 1px solid #e3e3e3; border-radius: 10px; margin-left: 15px; margin-top: 15px; padding: 10px; width: 15%;">\n' +
                        '<div class="product-thumb">\n' +
                            '<div class="image">\n';
                                if(products[i]['image']) {
                                    html += '<img src="/image/' + products[i]['image'] + '" alt="' + products[i]['name'] + '" title="' + products[i]['name'] + '" class="img-responsive" />\n';
                                } else {
                                    html += '<img src="/image/cache/no_image-100x100.png" alt="' + products[i]['name'] + '" title="' + products[i]['name'] + '" class="img-responsive" />\n';
                                }
                    html += '</div>\n' +
                            '<div>\n' +
                                '<div class="caption">\n' +
                                    '<p>' + products[i]['name'] + '</p>\n' +
                                    '<p class="price">\n' +
                                        products[i]['price'] +
                                    '</p>\n' +
                                    '<div class="button-group">\n' +
                                        '<button type="button" onclick="deleteProductFromMailing(' + products[i]['product_id'] + ')">\n' +
                                            '{{ button_delete_from_block_data }}\n' +
                                        '</button>\n' +
                                        '<input type="hidden" name="added_products_id[]" id="added-product-id" value="' + products[i]['product_id'] + '" />\n' +
                                    '</div>\n' +
                                '</div>\n' +
                            '</div>\n' +
                        '</div>\n' +
                    '</div>\n'
        }

        return html;
    }

    deleteBlockData()
    function deleteBlockData() {
        $('.delete-block-data-btn').unbind('click');
        $('.delete-block-data-btn').on('click', function () {
            let block_data_id = $(this).attr('data-block-data-id')
            let blockDataTable = $(this).parents('.block-data-table');
            let col_id = blockDataTable.attr('data-col-id')
            if (confirm("{{ confirm_delete_block_data }}")) {
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/deleteBlockData&block_data_id=' + block_data_id + '&user_token={{ user_token }}',
                    success: function() {
                        blockDataTable.replaceWith(emptyBlockDataHTML(col_id))
                        addBlockData()
                    }
                })
            }
        })
    }

    function emptyBlockDataHTML(col_id) {
        let html = '<div class="block-data-inner">\n' +
                       '<button type="button" data-toggle="modal" data-target="#addBlockDataModal" data-tooltip="tooltip" title="{{ button_add }}" data-col-id="' + col_id + '" class="btn btn-success pull-right add-block-data-btn"><i class="fa fa-plus"></i></button>\n' +
                   '</div>'

        return html;
    }

    // Save block data
    $('.add-block-data-modal-btn').on('click', function () {
        let block_id = $(this).attr('data-block-id')
        let block_data_id = $(this).attr('data-block-data-id')
        let col_id = $(this).attr('data-col-id')
        let that = $(this)
        console.log($( "#addBlockDataModal :input" ).serializeArray())
        if (block_data_id) {
            $.ajax({
                type: "POST",
                dataType: 'html',
                data: $( "#addBlockDataModal :input" ).serialize(),
                url: 'index.php?route=extension/module/mailing/editBlockData&block_data_id=' + block_data_id + '&user_token={{ user_token }}',
                success: function (res) {
                    $('#addBlockDataModal').modal('hide')
                    that.removeAttr('data-block-id')
                    that.removeAttr('data-block-data-id')
                    that.removeAttr('data-col-id')
                    let date = new Date()
                    date.setMinutes(date.getMinutes() + 1)
                    setCookie('block_row_anchor', block_id, { expires : date })
                    document.location.href = window.location;
                }
            })
        } else {
            $.ajax({
                type: "POST",
                dataType: 'html',
                data: $( "#addBlockDataModal :input" ).serialize(),
                url: 'index.php?route=extension/module/mailing/addBlockData&block_id=' + block_id + '&col_id=' + col_id + '&user_token={{ user_token }}&mailing_id={{ mailing.mailing_id }}',
                success: function (res) {
                    $('#addBlockDataModal').modal('hide')
                    that.removeAttr('data-block-id')
                    that.removeAttr('data-block-data-id')
                    that.removeAttr('data-col-id')
                    let date = new Date()
                    date.setMinutes(date.getMinutes() + 1)
                    setCookie('block_row_anchor', block_id, { expires : date })
                    document.location.href = window.location;
                }
            })
        }
    })

    let sel, selects = [];
    let flag = true;

    function selectAllCheckbox() {
        $('.mailing-users tbody input[type="checkbox"]').each(function () {
            $(this).prop('checked', flag)
            if(flag) {
                if(selects.indexOf($(this).val()) === -1)
                    selects.push($(this).val())
            } else {
                if(selects.indexOf($(this).val()) > -1)
                    selects.splice(selects.indexOf($(this).val()), 1);
            }
        })
        flag = !flag;
    }

    function addEventOnCheckbox() {
        $('.mailing-users tbody input[type="checkbox"]').on('change', function () {
            if($(this).prop("checked")) {
                selects.push($(this).val())
            } else {
                let index = selects.indexOf($(this).val())
                if(index > -1) {
                    selects.splice(index, 1);
                }
            }
        })
    }

    {% if not mailing.mailing_id %}
    $('#form-mailing').on('submit', function () {
        resetFilterAdd()
    })
    {% endif %}

    $(document).ready(function () {
        {% if mailing.mailing_id %}
        getMailingCustomers()
        unsub()
        sub()
        {% else %}
        addEventOnCheckbox()
        {% endif %}
        let date = new Date()
        date.setHours(date.getHours() - 24 - (new Date().getTimezoneOffset() / 60));
        date = date.toISOString().substr(0, new Date().toISOString().length - 8)
        if(!'{{ mailing.date_start }}')
            $('#datePicker').val(date);
    })

    function reloadTooltip() {
        $('[data-toggle="tooltip"]').each(function () {
            $(this).tooltip();
        })
    }

    $('.subscribe-all-customers').on('click', function(e) {
        e.preventDefault();
        if(confirm('{{ text_subscribe_users }}')) {
            const _this = $(this)
            $.ajax({
                type: "POST",
                url: 'index.php?route=extension/module/mailing/subscribeAllToMailing&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                success: function() {
                    getMailingCustomers()
                    alert('Пользователи успешно добавлены в рассылку!')
                }
            });
        }
    });

    $('.unsubscribe-all-customers').on('click', function(e) {
        e.preventDefault();
        if(confirm('{{ text_unsubscribe_users }}')) {
            const _this = $(this)
            $.ajax({
                type: "POST",
                url: 'index.php?route=extension/module/mailing/unsubscribeAllFromMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                success: function() {
                    getMailingCustomers()
                    alert('Пользователи успешно удалены из рассылки!')
                }
            });
        }
    });

    let mailing_customers_ids = []
    function unsub() {
        $('.unsubscribe-customer').unbind('click');
        $('.unsubscribe-customer').on('click', function(e) {
            e.preventDefault();
            if(confirm('{{ text_unsubscribe_user }}')) {
                const _this = $(this)
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/unsubscribeFromMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                    success: function() {
                        _this.parent().parent().parent().find('input[type=\'checkbox\']')[0].checked = false;
                        _this.parent().append('<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>')
                        _this.remove();
                        sub()
                        getMailingCustomers()
                        alert('Пользователь успешно удален из рассылки!')
                    }
                });
            }
        });
    }

    function sub() {
        $('.subscribe-customer').unbind('click');
        $('.subscribe-customer').on('click', function(e) {
            e.preventDefault();
            if(confirm('{{ text_subscribe_user }}')) {
                const _this = $(this)
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/subscribeToMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                    success: function() {
                        _this.parent().parent().parent().find('input[type=\'checkbox\']')[0].checked = true;
                        _this.parent().append('<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>')
                        _this.remove();
                        unsub()
                        getMailingCustomers()
                        alert('Пользователь успешно добавлен в рассылку!')
                    }
                });
            }
        });
    }

    function getMailingCustomers() {
        $.ajax({
            url: 'index.php?route=extension/module/mailing/mailingcustomersid&user_token={{ user_token }}&mailing_id={{ mailing.mailing_id }}',
            type: "POST",
            dataType: 'json',
            success: function(json) {
                mailing_customers_ids = json;
                resetFilter()
            }
        });
    }

    $('input[name=\'filter_name\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
            url: 'index.php?route=extension/module/mailing/autocompleteCustomers&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                return {
                    label: item['name'],
                    name:  item['name'],
                    email: item['email'],
                    value: item['customer_id']
                }
                }));
            }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_name\']').val(item['label']);
            $('input[name=\'filter_email\']').val('');
            CustomersHtml(item);
        }
    });
    $('input[name=\'filter_email\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
            url: 'index.php?route=extension/module/mailing/autocompleteCustomers&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                return {
                    label: item['email'],
                    name:  item['name'],
                    email: item['email'],
                    value: item['customer_id']
                }
                }));
            }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_email\']').val(item['label']);
            $('input[name=\'filter_name\']').val('');
            CustomersHtml(item);
        }
    });

    function CustomersHtml(item) {
        let html = '<tr>' +
                        '<td class="text-center">';

        if((mailing_customers_ids.indexOf( item['value'] ) != -1) || (selects.indexOf( item['value'] ) != -1))
            html += '<input type="checkbox" {% if mailing.mailing_id %} disabled {% endif %} name="mailing_customers[]" value="' + item['value'] + '" checked="checked" />';
        else
            html += '<input type="checkbox" {% if mailing.mailing_id %} disabled {% endif %} name="mailing_customers[]" value="' + item['value'] + '"/>';

        html +=         '</td>' +
                        '<td class="text-left">' + item['email'] + '</td>' +
                        '<td class="text-left">' + item['name'] +
                            '<span class="pull-right">' +
                                '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id=' + item['value'] + '" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';

        {% if mailing.mailing_id %}
        if(mailing_customers_ids.indexOf( item['value'] ) != -1)
            html += '<span data-customer-id="' + item['value'] +'" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
        else
            html += '<span data-customer-id="' + item['value'] + '" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';
        {% endif %}

        html +=             '</span>' +
                        '</td>' +
                    '</tr>'

        $('.mailing-users tbody').html(
            html
        )
        unsub()
        sub()
        reloadTooltip()
        {% if not mailing.mailing_id %}
        addEventOnCheckbox()
        {% endif %}
    }

    function resetFilter() { 
        let html
        {% if customers %}
            {% for customer in customers %}
                    html += '<tr>' +
                                '<td class="text-center">';
                if(mailing_customers_ids.indexOf( '{{customer.customer_id}}' ) != -1)            
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />'
                else
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />';

                    html +=     '</td>' +
                                '<td class="text-left">{{ customer.email }}</td>' +
                                '<td class="text-left">' +
                                    '{{ customer.name }}' +
                                    '<span class="pull-right">' +
                                        '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';
                    {% if mailing.mailing_id %}

                    if(mailing_customers_ids.indexOf( '{{customer.customer_id}}' ) != -1)
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
                    else
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';

                    {% endif %}

                    html +=         '</span>' +
                                '</td>' +
                            '</tr>';
                    {% endfor %}
                {% else %}
                    html =  '<tr>' +
                                '<td class="text-center" colspan="8">{{ text_no_results }}</td>' +
                            '</tr>';
        {% endif %}
        
        $('.mailing-users tbody').html(
            html
        )
        $('input[name=\'filter_name\']').val('');
        $('input[name=\'filter_email\']').val('');

        unsub();
        sub();
        reloadTooltip();
        addEventOnCheckbox();
    }

    function resetFilterAdd() {
        let html
        {% if customers %}
            {% for customer in customers %}
                    html += '<tr>' +
                                '<td class="text-center">';
                if(selects.indexOf( '{{customer.customer_id}}' ) != -1)
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />'
                else
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />';

                    html +=     '</td>' +
                                '<td class="text-left">{{ customer.email }}</td>' +
                                '<td class="text-left">' +
                                    '{{ customer.name }}' +
                                    '<span class="pull-right">' +
                                        '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';
                    {% if mailing.mailing_id %}

                    if(selects.indexOf( '{{customer.customer_id}}' ) != -1)
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
                    else
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';

                    {% endif %}

                    html +=         '</span>' +
                                '</td>' +
                            '</tr>';
                    {% endfor %}
                {% else %}
                    html =  '<tr>' +
                                '<td class="text-center" colspan="8">{{ text_no_results }}</td>' +
                            '</tr>';
        {% endif %}

        $('.mailing-users tbody').html(
            html
        )
        $('input[name=\'filter_name\']').val('');
        $('input[name=\'filter_email\']').val('');

        reloadTooltip();
        addEventOnCheckbox();
    }

    function addSocialField() {
        $('.social-fields').append(
            '<div style="margin-bottom: 15px;">' +
                '<div class="col-sm-2">' +
                    '<input type="text" name="social_icon[]" value="" placeholder="{{ entry_icon_code }}" id="input-name{{ language.language_id }}" class="form-control"/>' +
                '</div>' +
                '<div class="col-sm-9">' +
                    '<input type="text" name="social_link[]" value="" placeholder="{{ entry_link }}" id="input-name{{ language.language_id }}" class="form-control"/>' +
                '</div>' +
                '<span onclick="$(this).parent().remove()" class="btn btn-danger"><i class="fa fa-trash-o"></i></span>' +
            '</div>'
        )
    }

    function deleteProductFromMailing(product_id) {
        $('.added-products-list').find("[data-product-id='" + product_id + "']").appendTo(".products-list")
        $('.products-list').find("[data-product-id='" + product_id + "']").find('.button-group').html(
            '<button type="button" onclick="addProductToMailing(' + product_id + ')"> Добавить в рассылку</button>'
        )
    }

    function addProductToMailing(product_id) {
        $('.products-list').find("[data-product-id='" + product_id + "']").appendTo(".added-products-list")
        $('.added-products-list').find("[data-product-id='" + product_id + "']").find('.button-group').html(
            '<button type="button" onclick="deleteProductFromMailing(' + product_id + ')"> Удалить из рассылки</button>' +
            '<input type="hidden" name="added_products_id[]" id="added-product-id" value="' + product_id + '" />'
        )
    }

    function getProductsByCategoryId() {
        let category_id = $("#input-product-categories option:selected").val()

        $.ajax({
            url: 'index.php?route=extension/module/mailing/getproducts&user_token={{ user_token }}&category_id=' + category_id,
            dataType: 'json',
            success: function(products) {
                $('.products-list').empty();
                products.forEach(function (val, key) {
                    let product_image = val.thumb ? val.thumb : "/image/cache/no_image-100x100.png"

                    let isAdded = $('.added-products-list').find("[data-product-id='" + val.product_id + "']").length

                    if(!isAdded) {

                        $('.products-list').append(
                            '<div data-product-id="'+val.product_id+'" class="product-layout product-list col-sm-3 col-xs-12" style="border: 1px solid #e3e3e3; border-radius: 10px; margin-left: 15px; margin-top: 15px; padding: 10px; width: 15%;' +
                                '<div class="product-thumb">' +
                                    '<div class="image"><img src="'+ product_image + '" alt="'+ val.name +'" title="'+ val.name +'" class="img-responsive" /></div>' +
                                        '<div>' +
                                            '<div class="caption">' +
                                                '<p>' + val.name + '</p>' +
                                                '<p class="price">' +
                                                    val.price +
                                                '</p>' +
                                                '<div class="button-group">' +
                                                    '<button type="button" onclick="addProductToMailing(' + val.product_id + ')">' +
                                                    'Добавить в рассылку' +
                                                    '</button>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>'
                        )
                    }
                })
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    function setCookie(name, value, options = {}) {
        options = {
            path: '/',
            // при необходимости добавьте другие значения по умолчанию
            ...options
        };
        if (options.expires instanceof Date) {
            options.expires = options.expires.toUTCString();
        }
        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
        for (let optionKey in options) {
            updatedCookie += "; " + optionKey;
            let optionValue = options[optionKey];
            if (optionValue !== true) {
                updatedCookie += "=" + optionValue;
            }
        }
        document.cookie = updatedCookie;
    }

    function deleteCookie(name) {
        setCookie(name, "", {
            'max-age': -1
        })
    }

    $(document).ready(function() {
        getProductsByCategoryId()
        $('#input-product-categories').on('change', getProductsByCategoryId)
    })
</script>
{{footer}}