{{ header }}
<style>
    .add-block-field, .select-grid-field {
        border: 2px dashed #dadada;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-block-field-button, .select-grid-field-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;
        cursor: pointer;
    }
    .add-block-field-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CF0D64;
        padding: 12px;
        width: fit-content;
        border-radius: 50%;
        color: #fff;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .select-grid-field-inner {
        width: 100%;
    }
    .select-grid-field-inner-content {
        width: 100%;
    }
    .gray-bg {
        background-color: gray;
        height: 50px;
        margin: 1px;
    }
    .select-grid-field-inner-content-item {
        width: 200px;
        display: flex;
        flex-direction: row;
    }
    .select-grid-field-inner-content-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-mailing" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{heading_title}}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_edit}}</h3>
            </div>
            <div class="panel-body">
                <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-mailing" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active" id="li-tab-settings"><a href="#tab-templates" data-toggle="tab">{{tab_template}}</a></li>
                        <li id="li-tab-settings"><a href="#tab-2" data-toggle="tab">{{tab_users}}</a></li>
                        <li id="li-tab-settings"><a href="#tab-3" data-toggle="tab">{{tab_mailing}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-templates"> {# 1 TAB TEMPLATE #}
                        <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_template_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="template_name" value="{{ mailing.name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %} 
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_letter_theme }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="letter_theme" value="{{ mailing_description.letter_theme }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% if error_letter_theme %}
                                        <div class="text-danger">{{ error_letter_theme }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_letter_content }}</label>
                                <div class="col-sm-12">
                                    <div class="add-block-field visible-xs">
                                        <div class="add-block-field-button">
                                            <div class="add-block-field-button-icon">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                            <div class="add-block-field-button-text">{{ button_add_block }}</div>
                                        </div>
                                    </div>
                                    <div class="select-grid-field">
                                        <div class="select-grid-field-inner">
                                            <div class="select-grid-field-inner-header">
                                                Выберите структуру
                                            </div>
                                            <div class="select-grid-field-inner-content">
                                                <div class="select-grid-field-inner-content-row">
                                                    <div class="select-grid-field-inner-content-item">
                                                        <div class="gray-bg" style="width: 100%"></div>
                                                    </div>
                                                    <div class="select-grid-field-inner-content-item">
                                                        <div class="gray-bg" style="width: 50%;"></div>
                                                        <div class="gray-bg" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                            <div class="form-group required">#}
{#                                <label class="col-sm-2 control-label" for="input-name">{{ entry_letter_text }}</label>#}
{#                                <div class="col-sm-10">#}
{#                                    <div style="margin: 10px; padding: 10px;">#}
{#                                        <span style="margin-right: 20px;"><b>[products]</b> - {{ help_products }}</span>#}
{#                                        <span><b>[social]</b> - {{ help_social }}</span>#}
{#                                    </div>#}
{#                                    <textarea name="letter_text" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ mailing_description.letter_text }}</textarea>#}
{#                                    {% if error_letter_text %}#}
{#                                        <div class="text-danger">{{ error_letter_text }}</div>#}
{#                                    {% endif %} #}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label class="col-sm-2 control-label" for="input-tax-class">{{ entry_products }}</label>#}
{#                                <div class="col-sm-10">#}
{#                                    <select name="categories" id="input-product-categories" class="form-control">#}

{#                                        {% for category in categories %}#}

{#                                            <option value="{{ category.category_id }}">{{ category.name }}</option>#}

{#                                        {% endfor %}#}

{#                                    </select>#}

{#                                    <div class="row products-list">#}

{#                                    </div>#}


{#                                </div>#}
{#                                <label class="col-sm-2 control-label" for="input-name">{{ entry_added_products }}</label>#}
{#                                <div class="col-sm-10">#}
{#                                    <div class="row added-products-list">#}

{#                                        {% for mailing_product in mailing_products %}#}

{#                                        <div data-product-id="{{ mailing_product.product_id }}" class="product-layout product-list col-sm-3 col-xs-12" style="border: 1px solid #e3e3e3; border-radius: 10px; margin-left: 15px; margin-top: 15px; padding: 10px; width: 15%;">#}
{#                                            <div class="product-thumb">#}
{#                                                <div class="image">#}
{#                                                    {% if mailing_product.image %}#}
{#                                                        <img src="/image/{{ mailing_product.image }}" alt="{{ mailing_product.name }}" title="{{ mailing_product.name }}" class="img-responsive" />#}
{#                                                    {% else %}#}
{#                                                        <img src="/image/cache/no_image-100x100.png" alt="{{ mailing_product.name }}" title="{{ mailing_product.name }}" class="img-responsive" />#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                                <div>#}
{#                                                    <div class="caption">#}
{#                                                        <p>{{ mailing_product.name }}</p>#}
{#                                                        <p class="price">#}
{#                                                            {{ mailing_product.price}}#}
{#                                                        </p>#}
{#                                                        <div class="button-group">#}
{#                                                            <button type="button" onclick="deleteProductFromMailing({{ mailing_product.product_id }})">#}
{#                                                                Удалить из рассылки#}
{#                                                            </button>#}
{#                                                            <input type="hidden" name="added_products_id[]" id="added-product-id" value="{{ mailing_product.product_id }}" />#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}


{#                                        {% endfor %}#}

{#                                    </div>#}
{#                                </div>#}

{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label class="col-sm-2 control-label" for="input-name">{{ entry_social }}</label>#}
{#                                <div class="col-sm-10">#}

{#                                    {% for social_icon in social_icons %}#}

{#                                    <div class="social-fields" style="display:flex; justify-content: center; align-items: center; margin-bottom: 10px;">#}
{#                                        <div class="col-sm-2">#}
{#                                            <img src="/image/{{ social_icon.image }}" style="width: 25px; height: 25px; margin-right: 5px;" alt="{{ social_icon.name }}">#}
{#                                            <span>{{ social_icon.name }}</span>#}
{#                                        </div>#}
{#                                        <div class="col-sm-10">#}
{#                                            <input type="text" name="social_link[]" value="{{ social_icon.link }}" placeholder="{{ entry_link }}" id="input-name{{ language.language_id }}" class="form-control"/>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    {% endfor %}#}
{#                                </div>#}

{#                            </div>#}
                        </div>
                        <div class="tab-pane" id="tab-2"> {# 2 TAB USERS #}
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <input type="text" name="filter_email" value="" placeholder="Email" id="input-name" class="form-control"/>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="filter_name" value="" placeholder="Name" id="input-name" class="form-control"/>
                                </div>
                                <div class="col-sm-2">
                                    <span onclick="{% if mailing.mailing_id %} resetFilter() {% else %} resetFilterAdd() {% endif %}" data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_reset }}" class="btn btn-danger"><i class="fa fa-refresh"></i>&nbsp;Очистить</span>
                                    {% if mailing.mailing_id %}
                                    <span class="pull-right">
                                        <span data-toggle="tooltip" title="{{ button_add_all_to_mailing }}" class="btn btn-success subscribe-all-customers"><i class="fa fa-plus"></i></span>
                                        <span data-toggle="tooltip" title="{{ button_delete_all_from_mailing }}" class="btn btn-danger unsubscribe-all-customers"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            <table class="table table-bordered table-hover mailing-users">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" {% if mailing.mailing_id %} disabled="disabled" {% endif %} onclick="selectAllCheckbox()" /></td>
                                    <td class="text-left">{% if sort == 'name' %} <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a> {% else %} <a href="{{ sort_email }}">{{ column_email }}</a> {% endif %}</td>
                                    <td class="text-left">{% if sort == 'c.email' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                                </tr>
                                </thead>
                                <tbody>

                                {% if customers %}
                                    {% for customer in customers %}
                                        <tr>
                                            <td class="text-center">
                                                {% if customer.customer_id in mailing_customers %}
                                                    <input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />
                                                {% else %}
                                                    <input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />
                                                {% endif %}
                                            </td>
                                            <td class="text-left">{{ customer.email }}</td>
                                            <td class="text-left">
                                                {{ customer.name }}
                                                <span class="pull-right d-flex">
                                                    <a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    {% if mailing.mailing_id %}
                                                        {% if customer.customer_id in mailing_customers %}
                                                            <span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>
                                                        {% else %}
                                                            <span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-3"> {# 3 TAB MAILING #}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_count_letters }}</label>
                                <div class="col-sm-10">
                                    {% if mailing.counter_letters %}
                                        <input type="number" name="count_letters" value="{{ mailing.counter_letters }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% else %}
                                        <input type="number" name="count_letters" value="10" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_date_automailing }}</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" name="date_automailing" value="{{ mailing.date_start }}" placeholder="{{ entry_name }}" id="datePicker" class="form-control"/>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" onclick="dateAutoMailingClear()" class="btn btn-primary">{{ text_clear }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .d-flex {
        display: flex;
    }
    table .btn {
        margin: 2px;
    }
    @media (min-width: 768px) {
        #button-register, #img_loading_register {
            position: relative;
            left: 5px;
        }
    }
</style>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript">
    function dateAutoMailingClear() {
        $('#datePicker').val('')
    }

    let sel, selects = [];
    let flag = true;

    function selectAllCheckbox() {
        $('.mailing-users tbody input[type="checkbox"]').each(function () {
            $(this).prop('checked', flag)
            if(flag) {
                if(selects.indexOf($(this).val()) === -1)
                    selects.push($(this).val())
            } else {
                if(selects.indexOf($(this).val()) > -1)
                    selects.splice(selects.indexOf($(this).val()), 1);
            }
        })
        flag = !flag;
    }

    function addEventOnCheckbox() {
        $('.mailing-users tbody input[type="checkbox"]').on('change', function () {
            if($(this).prop("checked")) {
                selects.push($(this).val())
            } else {
                let index = selects.indexOf($(this).val())
                if(index > -1) {
                    selects.splice(index, 1);
                }
            }
        })
    }

    {% if not mailing.mailing_id %}
    $('#form-mailing').on('submit', function () {
        resetFilterAdd()
    })
    {% endif %}

    $(document).ready(function () {
        {% if mailing.mailing_id %}
        getMailingCustomers()
        unsub()
        sub()
        {% else %}
        addEventOnCheckbox()
        {% endif %}
        let date = new Date()
        date.setHours(date.getHours() - 24 - (new Date().getTimezoneOffset() / 60));
        date = date.toISOString().substr(0, new Date().toISOString().length - 8)
        if(!'{{ mailing.date_start }}')
            $('#datePicker').val(date);
    })

    function reloadTooltip() {
        $('[data-toggle="tooltip"]').each(function () {
            $(this).tooltip();
        })
    }

    $('.subscribe-all-customers').on('click', function(e) {
        e.preventDefault();
        if(confirm('{{ text_subscribe_users }}')) {
            const _this = $(this)
            $.ajax({
                type: "POST",
                url: 'index.php?route=extension/module/mailing/subscribeAllToMailing&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                success: function() {
                    getMailingCustomers()
                    alert('Пользователи успешно добавлены в рассылку!')
                }
            });
        }
    });

    $('.unsubscribe-all-customers').on('click', function(e) {
        e.preventDefault();
        if(confirm('{{ text_unsubscribe_users }}')) {
            const _this = $(this)
            $.ajax({
                type: "POST",
                url: 'index.php?route=extension/module/mailing/unsubscribeAllFromMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                success: function() {
                    getMailingCustomers()
                    alert('Пользователи успешно удалены из рассылки!')
                }
            });
        }
    });

    let mailing_customers_ids = []
    function unsub() {
        $('.unsubscribe-customer').unbind('click');
        $('.unsubscribe-customer').on('click', function(e) {
            e.preventDefault();
            if(confirm('{{ text_unsubscribe_user }}')) {
                const _this = $(this)
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/unsubscribeFromMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                    success: function() {
                        _this.parent().parent().parent().find('input[type=\'checkbox\']')[0].checked = false;
                        _this.parent().append('<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>')
                        _this.remove();
                        sub()
                        getMailingCustomers()
                        alert('Пользователь успешно удален из рассылки!')
                    }
                });
            }
        });
    }

    function sub() {
        $('.subscribe-customer').unbind('click');
        $('.subscribe-customer').on('click', function(e) {
            e.preventDefault();
            if(confirm('{{ text_subscribe_user }}')) {
                const _this = $(this)
                $.ajax({
                    type: "POST",
                    url: 'index.php?route=extension/module/mailing/subscribeToMailing&customer_id=' + $(this).data('customerId') + '&mailing_id={{ mailing.mailing_id }}' + '&user_token={{ user_token }}',
                    success: function() {
                        _this.parent().parent().parent().find('input[type=\'checkbox\']')[0].checked = true;
                        _this.parent().append('<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>')
                        _this.remove();
                        unsub()
                        getMailingCustomers()
                        alert('Пользователь успешно добавлен в рассылку!')
                    }
                });
            }
        });
    }

    function getMailingCustomers() {
        $.ajax({
            url: 'index.php?route=extension/module/mailing/mailingcustomersid&user_token={{ user_token }}&mailing_id={{ mailing.mailing_id }}',
            type: "POST",
            dataType: 'json',
            success: function(json) {
                mailing_customers_ids = json;
                resetFilter()
            }
        });
    }

    $('input[name=\'filter_name\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
            url: 'index.php?route=extension/module/mailing/autocompleteCustomers&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                return {
                    label: item['name'],
                    name:  item['name'],
                    email: item['email'],
                    value: item['customer_id']
                }
                }));
            }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_name\']').val(item['label']);
            $('input[name=\'filter_email\']').val('');
            CustomersHtml(item);
        }
    });
    $('input[name=\'filter_email\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
            url: 'index.php?route=extension/module/mailing/autocompleteCustomers&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                return {
                    label: item['email'],
                    name:  item['name'],
                    email: item['email'],
                    value: item['customer_id']
                }
                }));
            }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_email\']').val(item['label']);
            $('input[name=\'filter_name\']').val('');
            CustomersHtml(item);
        }
    });

    function CustomersHtml(item) {
        let html = '<tr>' +
                        '<td class="text-center">';

        if((mailing_customers_ids.indexOf( item['value'] ) != -1) || (selects.indexOf( item['value'] ) != -1))
            html += '<input type="checkbox" {% if mailing.mailing_id %} disabled {% endif %} name="mailing_customers[]" value="' + item['value'] + '" checked="checked" />';
        else
            html += '<input type="checkbox" {% if mailing.mailing_id %} disabled {% endif %} name="mailing_customers[]" value="' + item['value'] + '"/>';

        html +=         '</td>' +
                        '<td class="text-left">' + item['email'] + '</td>' +
                        '<td class="text-left">' + item['name'] +
                            '<span class="pull-right">' +
                                '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id=' + item['value'] + '" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';

        {% if mailing.mailing_id %}
        if(mailing_customers_ids.indexOf( item['value'] ) != -1)
            html += '<span data-customer-id="' + item['value'] +'" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
        else
            html += '<span data-customer-id="' + item['value'] + '" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';
        {% endif %}

        html +=             '</span>' +
                        '</td>' +
                    '</tr>'

        $('.mailing-users tbody').html(
            html
        )
        unsub()
        sub()
        reloadTooltip()
        {% if not mailing.mailing_id %}
        addEventOnCheckbox()
        {% endif %}
    }

    function resetFilter() { 
        let html
        {% if customers %}
            {% for customer in customers %}
                    html += '<tr>' +
                                '<td class="text-center">';
                if(mailing_customers_ids.indexOf( '{{customer.customer_id}}' ) != -1)            
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />'
                else
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />';

                    html +=     '</td>' +
                                '<td class="text-left">{{ customer.email }}</td>' +
                                '<td class="text-left">' +
                                    '{{ customer.name }}' +
                                    '<span class="pull-right">' +
                                        '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';
                    {% if mailing.mailing_id %}

                    if(mailing_customers_ids.indexOf( '{{customer.customer_id}}' ) != -1)
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
                    else
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';

                    {% endif %}

                    html +=         '</span>' +
                                '</td>' +
                            '</tr>';
                    {% endfor %}
                {% else %}
                    html =  '<tr>' +
                                '<td class="text-center" colspan="8">{{ text_no_results }}</td>' +
                            '</tr>';
        {% endif %}
        
        $('.mailing-users tbody').html(
            html
        )
        $('input[name=\'filter_name\']').val('');
        $('input[name=\'filter_email\']').val('');

        unsub();
        sub();
        reloadTooltip();
        addEventOnCheckbox();
    }

    function resetFilterAdd() {
        let html
        {% if customers %}
            {% for customer in customers %}
                    html += '<tr>' +
                                '<td class="text-center">';
                if(selects.indexOf( '{{customer.customer_id}}' ) != -1)
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" checked="checked" />'
                else
                    html +=         '<input type="checkbox" name="mailing_customers[]" {% if mailing.mailing_id %} disabled="disabled" {% endif %} value="{{ customer.customer_id }}" />';

                    html +=     '</td>' +
                                '<td class="text-left">{{ customer.email }}</td>' +
                                '<td class="text-left">' +
                                    '{{ customer.name }}' +
                                    '<span class="pull-right">' +
                                        '<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>';
                    {% if mailing.mailing_id %}

                    if(selects.indexOf( '{{customer.customer_id}}' ) != -1)
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_delete_from_mailing }}" class="btn btn-danger unsubscribe-customer"><i class="fa fa-trash-o"></i></span>';
                    else
                        html +=         '<span data-customer-id="{{ customer.customer_id }}" data-toggle="tooltip" title="{{ button_add_to_mailing }}" class="btn btn-success subscribe-customer"><i class="fa fa-plus"></i></span>';

                    {% endif %}

                    html +=         '</span>' +
                                '</td>' +
                            '</tr>';
                    {% endfor %}
                {% else %}
                    html =  '<tr>' +
                                '<td class="text-center" colspan="8">{{ text_no_results }}</td>' +
                            '</tr>';
        {% endif %}

        $('.mailing-users tbody').html(
            html
        )
        $('input[name=\'filter_name\']').val('');
        $('input[name=\'filter_email\']').val('');

        reloadTooltip();
        addEventOnCheckbox();
    }

    function addSocialField() {
        $('.social-fields').append(
            '<div style="margin-bottom: 15px;">' +
                '<div class="col-sm-2">' +
                    '<input type="text" name="social_icon[]" value="" placeholder="{{ entry_icon_code }}" id="input-name{{ language.language_id }}" class="form-control"/>' +
                '</div>' +
                '<div class="col-sm-9">' +
                    '<input type="text" name="social_link[]" value="" placeholder="{{ entry_link }}" id="input-name{{ language.language_id }}" class="form-control"/>' +
                '</div>' +
                '<span onclick="$(this).parent().remove()" class="btn btn-danger"><i class="fa fa-trash-o"></i></span>' +
            '</div>'
        )
    }

    function deleteProductFromMailing(product_id) {
        $('.added-products-list').find("[data-product-id='" + product_id + "']").appendTo(".products-list")
        $('.products-list').find("[data-product-id='" + product_id + "']").find('.button-group').html(
            '<button type="button" onclick="addProductToMailing(' + product_id + ')"> Добавить в рассылку</button>'
        )
    }

    function addProductToMailing(product_id) {
        $('.products-list').find("[data-product-id='" + product_id + "']").appendTo(".added-products-list")
        $('.added-products-list').find("[data-product-id='" + product_id + "']").find('.button-group').html(
            '<button type="button" onclick="deleteProductFromMailing(' + product_id + ')"> Удалить из рассылки</button>' +
            '<input type="hidden" name="added_products_id[]" id="added-product-id" value="' + product_id + '" />'
        )
    }

    function getProductsByCategoryId() {
        let category_id = $("#input-product-categories option:selected").val()

        $.ajax({
            url: 'index.php?route=extension/module/mailing/getproducts&user_token={{ user_token }}&category_id=' + category_id,
            dataType: 'json',
            success: function(products) {
                $('.products-list').empty();
                products.forEach(function (val, key) {
                    let product_image = val.thumb ? val.thumb : "/image/cache/no_image-100x100.png"

                    let isAdded = $('.added-products-list').find("[data-product-id='" + val.product_id + "']").length

                    if(!isAdded) {

                        $('.products-list').append(
                            '<div data-product-id="'+val.product_id+'" class="product-layout product-list col-sm-3 col-xs-12" style="border: 1px solid #e3e3e3; border-radius: 10px; margin-left: 15px; margin-top: 15px; padding: 10px; width: 15%;' +
                                '<div class="product-thumb">' +
                                    '<div class="image"><img src="'+ product_image + '" alt="'+ val.name +'" title="'+ val.name +'" class="img-responsive" /></div>' +
                                        '<div>' +
                                            '<div class="caption">' +
                                                '<p>' + val.name + '</p>' +
                                                '<p class="price">' +
                                                    val.price +
                                                '</p>' +
                                                '<div class="button-group">' +
                                                    '<button type="button" onclick="addProductToMailing(' + val.product_id + ')">' +
                                                    'Добавить в рассылку' +
                                                    '</button>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>'
                        )
                    }
                })
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    $(document).ready(function() {
        getProductsByCategoryId()
        $('#input-product-categories').on('change', getProductsByCategoryId)
    })
</script>
{{footer}}